@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

@import "tailwindcss";
@theme {
  --color-primary: #08415c;
  --color-secondary: #cc2936;
  --color-accent: #f1bf98;
  --color-neutral: #6b818c;
}
* {
  font-family: "Poppins", sans-serif;
}
